<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <!-- //////////////////////////// -->
  <!-- ENABLE WCF TRACING -->
  <system.diagnostics>
    <trace autoflush="true"/>
    <!-- configure the file name and output format -->
    <sharedListeners>
      <add name="net" type="System.Diagnostics.TextWriterTraceListener" initializeData="server_network.log" traceOutputOptions="DateTime"/>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="server.svclog" />
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.HttpListener" value="Verbose"/>
    </switches>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <add name="net"/>
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <add name="net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="net"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <!-- //////////////////////////// -->

  <system.serviceModel>
    <!-- //////////////////////////// -->
    <!-- ENABLE WCF TRACING -->
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <!-- //////////////////////////// -->
  </system.serviceModel>

</configuration>
